################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SqlCheck/obj/Debug
/SqlCheck/bin/Debug
/SqlCheck/SqlCheck.csproj.user
