<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="data source=rumskapd29;initial catalog=BTripsIntegration;integrated security=True;application name=BTripsIntegration;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>
